---
const { name, desc, dark } = Astro.props;
import "../base.css";
---

<script>
	const ele = document.getElementById("heading");
	if (ele) {
		ele.onclick = () => (window.location.href = `/`);
	}

	const d = document.getElementById("dark_mode_toggler");
	if (d) {
		d.onclick = () => {
			if (
				!document.body.classList.contains("dark")
			) {
				return document.body.classList.add("dark");
			} else {
				return document.body.classList.remove("dark");
			}
		};
	}
</script>

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{name ? `>.< — ${name}` : ">.<"}</title>
		<meta property="og:site_name" content="Saige's Garden 🌿" />
		<meta property="og:title" content={name} />
		<meta property="og:description" content={desc} />
		<meta
			property="og:image"
			content={`https://ogmeta.saige.systems?title=${name}${
				desc ? `&desc=${desc}` : ""
			}${dark ? "&dark=true" : ""}`}
		/>
		<meta name="theme-color" content="#1e191b" />
		<meta name="twitter:card" content="summary_large_image" />
	</head>
	<body>
		<div
			class="bg-background text-foreground dark:bg-foreground dark:text-background mx-auto max-w-3xl pl-[2rem] pr-[2rem] mt-[5rem]"
		>
			<slot />
		</div>
	</body>
</html>
